.form {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 763px;
  min-height: 40px;
  border: 1px solid #EBEBF1;
  border-radius: 5px;
}

@media screen and (max-width: 600px) {
  .form {
    order: 1;
    border-bottom: none;
    border-left: none;
    border-right: none;
  }
}