.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1168px;
  min-height: 80px;
  margin: 0 auto;
}

@media screen and (max-width: 600px) {
  .container {
    flex-wrap: wrap;
  }
}