.form__button {
  background-image: url(../../../img/buttonSearch.png);
  background-repeat: no-repeat;
  background-color: #FFF;
  background-size: 16px 16px;
  background-position: center;
  border: none;
  height: 24px;
  width: 24px;
  padding: 0;
  margin: 8px 5px 8px 10px;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .form__button {
    margin: 12px 9px 13px 24px;
  }
  
}